.not-covered-container {
    justify-content: center;
    text-align: center;
}

.image-check {
    display: flex;
}

.right-text {
    font-size: 2.5rem;
    color: #FFFFFF;
}

.para-text {
    font-size: 1.5rem;
    color: #FFFFFF;
    padding-top: 1.125rem;
}

.text {
    padding: 0 100px;
    text-align: center;
}
.play-btn {
    padding: 1rem 2rem;
    background-color: #EB5E57;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 6.8125rem;
}

.expert-btn {
    border-radius: 8px;
    padding: 1rem 2rem;
    border: 1px solid #EB5E57;
    color: white;
    font-size: 1rem;
    /* margin: 0 7rem; */
    margin-right: 9.3125rem;
    background-color: transparent;
}


.check-img {
    width: 250px;
    height: 250px;
}

/* .text-content {
    text-align: center;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    margin-top: 20px; 
  }
  
  button {
    margin: 10px;
  } */
